<div class="category_bar_file">
    <%= link_to "最近", user_chats_path, class:"button" %>
    <%= link_to "人気", user_chats_path(category_id: "popular"), class:"button" %>
    <%= link_to "新規", user_rooms_path, class:"button" %>
    <% @categories.each do |category| %>
        <%= link_to category.japanese_name , user_chats_path(category_id: category.id), class:"button" %>
    <% end %>
</div>