.chat_show_file{
    .seques_chat_area + .submit_icon{
        margin: 10px 10px;
    }
    .sequels_header{
        padding:0px 10px;
        background-color: whitesmoke;
        .label_area{
            display: inline;
        }
        .label{
            background-color: white;
            padding: 5px;
            border-radius: 10px 10px 0px 0px;
        }
        .pagination{
            float: right;
            
        }
        .link{
            color: gray;
        }
    }
    .sequel_chat_zone{
        display: flex;
        height: 100%;
        .border_area{
            width: 30px;
            display: inline-block;
            float: left;
        }
        .border{
            margin-left: 50%;
            left:80px;/*横位置の指定*/
            top:20%;/*縦位置の指定*/
            background:dimgray;/*線の色指定*/
            width:4px;/*線の幅指定*/
            height:calc(100% - 50px);/*線の高さ指定*/
            border-radius: 2px;
            margin: 25px 15px;
        }
        .sequel_chat_area{
            width: calc(100% - 30px);
            float: right;
            .chat_link_area{
                width: 100%;
                text-align: center;
                .chat_link{
                    color: gray;

                }
            }
        }
    }
}