<div class="room_index_file">
    <%= render "user/chats/new", chat:@chat%>
    <div class="chats_list_area" id="chats_list_area">
        <% @chats.each do |chat|%>
            <%= render "user/chats/unit", chat:chat, limit_lines:true %>
        <%end%>
    </div>
</div>
<%= javascript_pack_tag "user/homes/index" %>